* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
	font-family: 'Didact Gothic', sans-serif;
}

header {
	display: flex;
	background: linear-gradient(to left, #09203f  , #537895);
	justify-content: space-between;
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	z-index: 10;
	transition: 0.66s;
}

header.changeColor {
	background: black;
}

.logo {
	padding: 0.3rem 0.5rem 0.1rem 0.5rem;
}

.logo-image {
	width: 170px;
	height: 70px;
}

.menu-links,
.menu-input {
	display: none;
}

.fa, .fa-bars {
	font-size: 2rem!important;
}

.menu-label {
	position: absolute;
	top: 30%;
	right: 1rem;
	color: white;
	cursor: pointer;
}

.menu-label span:hover {
	color: gray;
	transition: 0.44s;
}

.menu-links a {
	display: block;
	color: white;
	padding: 0.4rem 0.8rem;
	text-decoration: none;
	transition: 0.55s;	
}

.menu-links a:hover {
	/*text-decoration: underline;*/
	color: lightgray;
}

.menu-links {
	background: #6991c7;
	position: absolute;
	top: 74px;
	right: 0;
	left: 0;
}

#menu-input:checked + .menu-label + .menu-links {
	display: block;
}

/*menu in tablet, desktop mode hehe hack man*/

@media screen and (min-width: 1000px) {
	#menu-input:checked + .menu-label + .menu-links {
		display: flex;
	}

	.menu-label span {
		display: none;
	}

	.menu-links {
		position: relative;
		display: flex;
		top: 25%;
		padding-right: 1rem;
		background: none;
		font-size: 1.3rem;
	}

	.menu-links a:hover {
		color: gray;
		text-decoration: none;
	}
}

.toTop {
	border-top-right-radius: 0.3rem;
	border-top-left-radius: 0.3rem;
	z-index: 3;
	position: fixed;
	bottom: 0;
	right: 0rem;
	background-color: black;
	width: 36px;
	height: 36px;
	justify-content: center;
	align-items: center;
	display: flex;
	text-decoration: none;
	color: white;
	opacity: 0;
	transition: 0.44s;
}

.toTop:hover {
	background-color: darkgray;
	color: black;
}

@media screen and (max-width: 1000px) {
	#menu-input:checked + .menu-label + .menu-links {
		top: 70px;
}
}


/*footer styling*/
footer {
	text-align: center;
	margin-top: 2rem;
	background: linear-gradient(to left, #09203f  , #537895);
	color: white;
	padding: 1rem;
	font-size: 1.5rem;
}

.top-arrow {
	float: right;
	padding-right: 1rem;
	font-size: 1.1rem;
	text-decoration: #09203f;
	color: black;
}

.menu ul {
	list-style-type: none;
}


/*styling the content*/
.title {
	padding-top: 70px;
	background: linear-gradient(to left, #09203f  , #537895);
	height: 100vh;
	position: relative;
}

.title-text {
	position: absolute;
	font-size: 4rem;
	top: 47%;
	left: 50%;
	/*margin-left: -140px;*/
	transform: translate(-50%,-40%);
	color: white;
	animation: changeColors 8s infinite;
}

.arrow-down {
  width: 0; 
  height: 0; 
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;  
  border-top: 20px solid white;
  position: absolute;
  bottom: 10px;
  left: 50%;
  margin-left: -12px;
  transition: 0.66s;
  animation: arrow-down-animation 2s 3;
}

@keyframes arrow-down-animation {
	0% {
		bottom: 10px;
	}

	50% {
		bottom: 20px;
	}

	100% {
		bottom: 10px;
	}
}

.arrow-down:hover {
	border-top-color: darkgray;
}


@keyframes changeColors {
  	0%{color: #FF4B2B;}
  	25%{color: #fed766;}
  	50%{color: #a8ff78;}
  	75%{color: #fe8a71;}
  	100%{color: #fc6767;}
}

/*Styling the content section*/

.content {
	width: 100%;
	overflow: hidden;
}


.definitie {
	padding: 20px 40px;
	background-color: red;
	color: white;
	height: 100%;
	position: relative;
}

.titlu {
	font-size: 2.5rem;
	text-align: center;
	padding: 2rem 0 2rem 0;
	width: 100%;
	color: white;
}

.definitie p {
	position: relative;
	text-indent: 40px;
	text-align: justify;
	top: 20%;
	padding-bottom: 2rem;
}

.apareDefinitia {
	animation: apareDefinitia 2s 1;
}

@keyframes apareDefinitia {
	0% {
		left: 1350px;
	}
	100% {
		left: 0;
	}

}


/*tipuri de coloranti*/

.tipColorantiTitlu {
	background-image: url(images/tipuri-coloranti-background.jpg);
	opacity: 0;
	transition: 1.55s;
	color: black;
	box-shadow: 0 0 10px 3px gray;
}

.tip h3 {
	margin: 1.5rem;
	font-size: 1.3rem;
}

.tip p {
	margin: 0 3rem;
	margin-bottom: 1.5rem;
}

.tip img {
	width: 250px;
	height: 250px;
	position: relative;
	margin: 0 auto;
	text-align: center;
	left: 50%;
	transform: translate(-50%, 0);
	border-radius: 50%;
	/*border: 0.1rem solid red;*/
}

@media screen and (min-width: 768px) {
	.display-flex {
		display: flex;
	}

	.tip p {
		width: 50%;
		margin: 0 5rem;
	}

	.tip img {
		width: 300px;
		height: 300px;
	}

	.tip .background-image {
		width: 50%;
		transform: translate(0, -15px);
	}
}

.observatii {
	background-color: purple;
	color: white;
	padding: 2rem 4rem;
}

.observatii ul {
	padding: 1rem 0;
}

.tipuriColoranti {
	padding: 1rem 2rem;
}