* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
	font-family: 'Didact Gothic', sans-serif;
}

header {
	height: 70px;
	display: flex;
	background: linear-gradient(to left, #09203f  , #537895);
	justify-content: space-between;
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	z-index: 10;
	transition: 0.66s;
}

header.changeColor {
	background: black;
}

.menu {
	transition: 0.66s;
}

.logo {
	padding: 0.3rem 0.5rem 0.1rem 0.5rem;
}

.logo-image {
	width: 170px;
	height: 70px;
}

.menu-links,
.menu-input {
	display: none;
}

.fa, .fa-bars {
	font-size: 2rem!important;
}

.menu-label {
	position: absolute;
	top: 30%;
	right: 1rem;
	color: white;
	cursor: pointer;
}

.menu-label span:hover {
	color: gray;
	transition: 0.44s;
}

.menu-links a {
	display: block;
	color: white;
	padding: 0.3rem 1rem;
	text-decoration: none;
	transition: 0.55s;
	font-size: 1.3rem;	
}

.menu-links a:hover {
	/*text-decoration: underline;*/
	color: lightgray;
}

.menu-links {
	background: #6991c7;
	position: absolute;
	right: 0;
	left: 0;

}

#menu-input:checked + .menu-label + .menu-links {
	display: block;
}

/*menu in tablet, desktop mode hehe hack man*/

@media screen and (min-width: 1000px) {
	#menu-input:checked + .menu-label + .menu-links {
		display: flex;
	}

	.menu-label span {
		display: none;
	}

	.menu-links {
		position: relative;
		display: flex;
		top: 25%;
		padding-right: 1rem;
		background: none;
		font-size: 1.3rem;
	}

	.menu-links a:hover {
		color: gray;
		text-decoration: none;
	}
}

.toTop {
	border-radius: 50%;
	z-index: 3;
	position: fixed;
	bottom: 9px;
	right: 9px;
	background-color: black;
	width: 46px;
	height: 46px;
	justify-content: center;
	align-items: center;
	display: flex;
	text-decoration: none;
	color: white;
	opacity: 0;
	transition: 0.44s;
}

.toTop span {
	font-size: 1.33rem;
}

.toTop:hover {
	background-color: darkgray;
	color: black;
}

@media screen and (max-width: 1000px) {
	#menu-input:checked + .menu-label + .menu-links {
		top: 70px;
	}
}

.top-arrow {
	float: right;
	padding-right: 1rem;
	font-size: 1.1rem;
	text-decoration: #09203f;
	color: #111;
}

.menu ul {
	list-style-type: none;
}


/*styling the content*/
.title {
	padding-top: 70px;
	background: linear-gradient(to left, #09203f  , #537895);
	height: 100vh;
	position: relative;
}

.title-text {
	position: absolute;
	font-size: 5.5rem;
	top: 50%;
	left: 50%;
	/*margin-left: -140px;*/
	transform: translate(-48%,-50%);
	color: white;
	animation: changeColors 8s infinite;
}

.arrow-down {
  width: 0;
  height: 0; 
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;  
  border-top: 30px solid white;
  position: absolute;
  bottom: 10px;
  left: 50%;
  margin-left: -12px;
  transition: 0.66s;
  animation: arrow-down-animation 2s 3;
}

@keyframes arrow-down-animation {
	0% {
		bottom: 10px;
	}

	50% {
		bottom: 20px;
	}

	100% {
		bottom: 10px;
	}
}

.arrow-down:hover {
	border-top-color: darkgray;
}


@keyframes changeColors {
  	0%{color: #fc6767;}
  	25%{color: #a8ff78;}
  	50%{color: #d10445;}
  	75%{color: #fe8a71;}
  	100%{color: #fc6767;}
}

/*Styling the content section*/

.content {
	width: 100%;
	overflow: hidden;
}


.definitie {
	padding: 20px 40px;
	background-color: purple;
	color: white;
	position: relative;
}

.titlu {
	font-size: 3rem;
	text-align: center;
	padding: 2rem 0 2rem 0;
	width: 100%;
	color: white;
}

.definitie p {
	position: relative;
	text-indent: 40px;
	text-align: justify;
	top: 20%;
	padding-bottom: 2rem;
}

.apareDefinitia {
	animation: apareDefinitia 1.3s 1;
}

@keyframes apareDefinitia {
	0% {
		left: 1350px;
	}
	100% {
		left: 0;
	}

}


/*tipuri de coloranti*/

.tipColorantiTitlu {
	background-image: url(images/tipuri-coloranti-background.jpg);
	opacity: 0;
	transition: 1.55s;
	color: black;
	box-shadow: 0 0 10px 5px gray;
}

.tipuriColoranti h2 {
	font-size: 1.3rem;
}

.tip h3 {
	margin: 1.5rem;
	font-size: 1.6rem;
}

.tip p {
	margin: 0 2.5rem;
	margin-bottom: 1.5rem;
	font-size: 1.1rem;
	text-align: justify;
}

.tip img {
	display: block;
	width: 250px;
	height: 250px;
	position: relative;
	margin: 0 auto;
	text-align: center;
	left: 50%;
	transform: translate(-50%, 0);
	border-radius: 50%;
	box-shadow: 0 0 10px 3px gray;
}

.no-box-shadow {
	box-shadow: none!important;
}

.display-flex p {
	text-indent: 30px;
}

@media screen and (min-width: 1000px) {
	.display-flex {
		display: flex;
	}

	.display-flex .text {
		width: 50%;
	}

	.tip img {
		width: 300px;
		height: 300px;
	}

	.tip .background-image {
		width: 50%;
		transform: translate(0, -15px);
	}
}

.observatii {
	background-color: red;
	color: white;
	padding: 2rem 4rem;
}

.observatii ul {
	padding: 1rem 0;
}

.observatii li,
.concluzii li {
	font-size: 1.1rem;
	padding: 0.44rem 0;
	line-height: 1.5;
}

.tipuriColoranti {
	padding: 1rem 2rem;
}

.concluzii {
	background-color: darkorange;
	color: white;
	padding: 2rem 4rem;
}

.animation-text {
	font-size: 1.2rem;
}

/*styling the footer*/

footer {
	background: #111;
	color: white;
}

footer h2 {
	text-align: center;
	font-size: 1.7rem;
	padding: 1rem;
	text-decoration: underline;
}

footer a {
	text-decoration: none;
}

footer span {
	color: white;
	transition: 0.33s;
	padding: 0 0.32rem; 
}

footer span:hover {
	transform: scale(1.2);
	color: gray;
}

footer h3 {
	margin-right: 1rem;
	font-size: 1.54rem;
	letter-spacing: 1.6px;
}

footer i {
	font-style: initial;
	font-weight: normal;
}

.elevi {
	border-bottom: 2px solid lightgray;
	margin: 0 0.6rem;
	padding-bottom: 1rem;
}

.creatorWeb, .imagini,
.prof-info, .prof-chimie {
	display: flex;
	padding: 0.7rem 3rem;
}

/*footer in desktop mode*/

@media screen and (min-width: 1000px) {
	footer {
		display: flex;
	}

	footer > div {
		width: 50%;
	}

	footer h2 {
		text-align: left;
		padding-left: 3rem;
	}

	.elevi {
		border-right: 2px solid lightgray;
		margin: 0.6rem 0;
		border-bottom: 0;
		padding: 0;
	}

	.creatorWeb, .imagini,
	.prof-info, .prof-chimie {
		padding: 0.7rem 5.5rem;
		display: block;
		text-align: center;
	}

	footer h3 {
		margin: 0.6rem 0;
	}
}

.background-image img {
	margin: 1.5rem 0;
}

.background-image div {
	position: relative;
}

.background-image p {
	position: absolute;
	bottom: -40px;
	left: 55%;
}